<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Desarrollo</title>
</head>
<body>

	<header>
		<h1>Cursos de Desarrollo</h1>
		<img alt="" src="">
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="agenda.html">Agenda</a></li>
			<li><a href="beneficios.html">Beneficios y Beca</a></li>
			<li><a href="contacto.html">Contáctanos</a></li>
		</ul>
	</nav>

	<section>
		<h2>Cursos</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Repellat ducimus eaque voluptatibus debitis quae aut ea pariatur
			sequi dolore illum. Animi repellat ratione nam. Nobis unde facere
			vero autem et.</p>
		<table>
			<tr>
				<th>Curso</th>
				<th>Fecha inicio</th>
				<th>Horario</th>
				<th>Fecha Fin</th>
				<th>Modalidad V/P</th>
				<th>Docente</th>
				<th>Duracion</th>
			</tr>
			<tr>
				<td>HTML</td>
				<td>1/5/2022</td>
				<td>9:00-13:00</td>
				<td>50</td>
				<td>15/8/2022</td>
				<td>Virtual</td>
				<td>Jose Paz</td>
				<td>3 Meses</td>
			</tr>
			<tr>
				<td>Eve</td>
				<td>Jackson</td>
				<td>94</td>
			</tr>
		</table>
	</section>

</body>
</html>